In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
mu, sigma = 50, 10
s = np.random.normal(mu, sigma, 100)

In [3]:
s[85] = 120
s[15] = -120

In [4]:
df = pd.DataFrame(s,columns=['Data'])
df.head()

        Data
0  66.941065
1  50.209095
2  65.470903
3  56.044022
4  53.180385

In [5]:
for col in df.columns:
    col_zscore = col + '_zscore'
    df[col_zscore] = (df[col] - df[col].mean())/df[col].std(ddof=0)

In [6]:
df['outlier'] = (abs(df['Data_zscore'])> 3).astype(int)

In [7]:
df.tail()

         Data  Data_zscore  outlier
95  42.425659    -0.321731        0
96  43.890040    -0.250090        0
97  49.815598     0.039802        0
98  58.410470     0.460282        0
99  44.618499    -0.214452        0

In [8]:
print ("Print number of outliers = " +str(df.outlier.value_counts()[1]))

Print number of outliers = 2