In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('insurance.csv')

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Link to the repository/GitHub page -

https://github.com/quantopian/qgrid


## Installation -

conda install qgrid

In [4]:
import qgrid

In [5]:
for qgrid_functions in dir(qgrid):
    print(qgrid_functions)

QGridWidget
QgridWidget
__all__
__builtins__
__cached__
__doc__
__file__
__loader__
__name__
__package__
__path__
__spec__
__version__
_jupyter_nbextension_paths
_version
disable
enable
grid
off
on
set_defaults
set_grid_option
show_grid
version_info

In [6]:
df_qgrid = qgrid.show_grid(df)

In [7]:
df_qgrid

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defauâ€¦